In [1]:
import pandas as pd
import numpy as np

In [2]:
chemical_carries = pd.read_csv('ecotox_ascii_09_12_2019/chemical_carriers.txt',sep='\|', engine='python')

In [3]:
chemical_carries.head()

,carrier_id,test_id,cas_number,chem_name,purpose,grade,grade_comments,formulation,formulation_comments,radiolabel,radiolabel_comments,purity_mean_op,purity_mean,purity_min_op,purity_min,purity_max_op,purity_max,purity_comments,characteristics
0,342653,1000060,67641,2-Propanone,Carrier,NR,NaN,NR,NaN,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,0.5 ML
1,342654,1000061,67641,2-Propanone,Carrier,NR,NaN,NR,NaN,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,0.5 ML
2,342655,1000062,67641,2-Propanone,Carrier,NR,NaN,NR,NaN,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,0.5 ML
3,342656,1000063,67641,2-Propanone,Carrier,NR,NaN,NR,NaN,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,0.5 ML
4,342657,1000064,67641,2-Propanone,Carrier,NR,NaN,NR,NaN,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,NR

In [4]:
chemical_carries.shape

(165776, 19)

In [5]:
dose_response_details = pd.read_csv('ecotox_ascii_09_12_2019/dose_response_details.txt',sep='\|', engine='python')
dose_response_details.head()

,dose_resp_detail_id,dose_resp_id,dose_id,response_mean_op,response_mean,response_min_op,response_min,response_max_op,response_max,statistical_method,...,dry_wet_pct_max,dry_wet_pct_comments,lipid_pct_mean_op,lipid_pct_mean,lipid_pct_min_op,lipid_pct_min,lipid_pct_max_op,lipid_pct_max,lipid_pct_comments,dose_resp_detail_comment
0,1,1,2,NaN,+16.8,NaN,NR,NaN,NR,SD,...,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,NaN
1,2,1,3,NaN,+12.8,NaN,NR,NaN,NR,SD,...,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,NaN
2,3,1,4,NaN,+12.8,NaN,NR,NaN,NR,SD,...,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,NaN
3,4,2,1,NaN,+3.0,NaN,NR,NaN,NR,SD,...,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,NaN
4,5,2,2,NaN,+5.80,NaN,NR,NaN,NR,SD,...,NR,NaN,NaN,NR,NaN,NR,NaN,NR,NaN,NaN

In [6]:
dose_response_details.shape

(278423, 46)

In [7]:
dose_response_links = pd.read_csv('ecotox_ascii_09_12_2019/dose_response_links.txt',sep='\|', engine='python')
dose_response_links.head()

   dose_resp_link_id  result_id  dose_resp_id
0                  1    1190000         11343
1                  2    1190000         11344
2                  3    1200000         21104
3                  4    1210000         30631
4                  5    1220000         41004

In [8]:
dose_response_links.shape

(121225, 3)

In [9]:
dose_responses = pd.read_csv('ecotox_ascii_09_12_2019/dose_responses.txt',sep='\|', engine='python')
dose_responses.head()

,dose_resp_id,test_id,sample_size_unit,sample_size_comments,effect_code,measurement_code,measurement_comments,response_site,response_site_comments,obs_duration_mean_op,obs_duration_mean,obs_duration_min_op,obs_duration_min,obs_duration_max_op,obs_duration_max,obs_duration_unit,obs_duration_comments,response_unit,response_comments,additional_comments
0,1,1,ML,NaN,ENZ,ATRP,NaN,PL,NaN,NaN,15,NaN,NR,NaN,NR,d,NaN,IU/L,NaN,NaN
1,2,1,ML,NaN,ENZ,GGTR,NaN,PL,NaN,NaN,15,NaN,NR,NaN,NR,d,NaN,IU/L,NaN,NaN
2,3,1,ML,NaN,HRM,TSTR,NaN,PL,NaN,NaN,15,NaN,NR,NaN,NR,d,NaN,ng/ml,NaN,NaN
3,4,2,ML,NaN,ENZ,BCOD,NaN,LI,NaN,NaN,4,NaN,NR,NaN,NR,d,NaN,umol/mg/mi,NaN,NaN
4,5,2,ML,NaN,ENZ,BROD,NaN,LI,NaN,NaN,4,NaN,NR,NaN,NR,d,NaN,pmol/mg/mi,NaN,NaN

In [10]:
dose_responses.shape

(121650, 20)

In [11]:
doses = pd.read_csv('ecotox_ascii_09_12_2019/doses.txt',sep='\|', engine='python')
doses.head()

,dose_id,test_id,dose_number,dose_conc_unit,dose_comments,control_type,number_organisms_mean_op,number_organisms_mean,number_organisms_min_op,number_organisms_min,...,dose2_stat_value,dose3_conc_type,dose3_mean_op,dose3_mean,dose3_min_op,dose3_min,dose3_max_op,dose3_max,dose3_stat_method,dose3_stat_value
0,1,1,1,mg/kg,NaN,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,2,mg/kg,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,3,mg/kg,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,4,mg/kg,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,1,mg/kg,NaN,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
doses.columns.values

array(['dose_id', 'test_id', 'dose_number', 'dose_conc_unit',
       'dose_comments', 'control_type', 'number_organisms_mean_op',
       'number_organisms_mean', 'number_organisms_min_op',
       'number_organisms_min', 'number_organisms_max_op',
       'number_organisms_max', 'dose1_conc_type', 'dose1_mean_op',
       'dose1_mean', 'dose1_min_op', 'dose1_min', 'dose1_max_op',
       'dose1_max', 'dose1_stat_method', 'dose1_stat_value',
       'dose2_conc_type', 'dose2_mean_op', 'dose2_mean', 'dose2_min_op',
       'dose2_min', 'dose2_max_op', 'dose2_max', 'dose2_stat_method',
       'dose2_stat_value', 'dose3_conc_type', 'dose3_mean_op',
       'dose3_mean', 'dose3_min_op', 'dose3_min', 'dose3_max_op',
       'dose3_max', 'dose3_stat_method', 'dose3_stat_value'], dtype=object)

In [13]:
doses.shape

(473061, 39)

In [14]:
media_characteristics = pd.read_csv('ecotox_ascii_09_12_2019/media_characteristics.txt',sep='\|', engine='python')
media_characteristics.head()

,result_id,soil_type,media_texture_sand_mean_op,media_texture_sand_mean,media_texture_sand_min_op,media_texture_sand_min,media_texture_sand_max_op,media_texture_sand_max,media_texture_silt_mean_op,media_texture_silt_mean,...,media_diss_carbon_unit,media_diss_carbon_comments,media_sulfur_mean_op,media_sulfur_mean,media_sulfur_min_op,media_sulfur_min,media_sulfur_max_op,media_sulfur_max,media_sulfur_unit,media_sulfur_comments
0,61358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NC,NaN,NaN,NC,NaN,NC,NaN,NC,NC,NaN
1,136246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NC,NaN,NaN,NC,NaN,NC,NaN,NC,NC,NaN
2,223703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NC,NaN,NaN,NC,NaN,NC,NaN,NC,NC,NaN
3,151106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NC,NaN,NaN,NC,NaN,NC,NaN,NC,NC,NaN
4,53559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NC,NaN,NaN,NC,NaN,NC,NaN,NC,NC,NaN

In [15]:
media_characteristics.shape

(952634, 183)

In [16]:
test =pd.read_csv('ecotox_ascii_09_12_2019/tests.txt',sep='\|', engine='python')
test.head(20)

,test_id,reference_number,test_cas,test_grade,test_grade_comments,test_formulation,test_formulation_comments,test_radiolabel,test_radiolabel_comments,test_purity_mean_op,...,halflife_min_op,halflife_min,halflife_max_op,halflife_max,halflife_unit,halflife_comments,additional_comments,created_date,modified_date,published_date
0,1,35000,1336363,R,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
1,2,35000,1336363,R,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
2,3,35001,2385855,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
3,4,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
4,5,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
5,6,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
6,7,35002,7631994,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
7,8,35003,502396,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
8,9,35003,502396,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
9,10,35003,502396,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
10,11,35003,502396,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
11,12,35004,50293,NR,NaN,NR,NaN,C-14,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,TYPE/IR & DA//,01/28/1998,07/20/2012,09/14/2012
12,13,35004,50293,NR,NaN,NR,NaN,C-14,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,TYPE/IR & DA//EDES/INJECTED WITH 0.1 UCI ON D...,01/28/1998,07/20/2012,09/14/2012
13,15,35005,56382,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,10/08/2015,12/15/2015
14,16,35005,63252,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,10/08/2015,12/15/2015
15,17,35005,50293,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,10/27/2015,12/15/2015
16,18,35006,68334305,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
17,19,35006,60617063,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
18,20,35007,60571,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012
19,21,35007,60571,NR,NaN,NR,NaN,NR,NaN,NaN,...,NaN,NC,NaN,NC,NC,NaN,,01/28/1998,07/20/2012,09/14/2012

In [17]:
test.shape

(665232, 122)

In [18]:
list(test.columns)

['test_id',
 'reference_number',
 'test_cas',
 'test_grade',
 'test_grade_comments',
 'test_formulation',
 'test_formulation_comments',
 'test_radiolabel',
 'test_radiolabel_comments',
 'test_purity_mean_op',
 'test_purity_mean',
 'test_purity_min_op',
 'test_purity_min',
 'test_purity_max_op',
 'test_purity_max',
 'test_purity_comments',
 'test_characteristics',
 'species_number',
 'organism_habitat',
 'organism_source',
 'organism_source_comments',
 'organism_lifestage',
 'organism_lifestage_comments',
 'organism_age_mean_op',
 'organism_age_mean',
 'organism_age_min_op',
 'organism_age_min',
 'organism_age_max_op',
 'organism_age_max',
 'organism_age_unit',
 'organism_init_wt_mean_op',
 'organism_init_wt_mean',
 'organism_init_wt_min_op',
 'organism_init_wt_min',
 'organism_init_wt_max_op',
 'organism_init_wt_max',
 'organism_init_wt_unit',
 'organism_characteristics',
 'organism_gender',
 'experimental_design',
 'study_duration_mean_op',
 'study_duration_mean',
 'study_duration_min_op',
 'study_duration_min',
 'study_duration_max_op',
 'study_duration_max',
 'study_duration_unit',
 'study_duration_comments',
 'exposure_duration_mean_op',
 'exposure_duration_mean',
 'exposure_duration_min_op',
 'exposure_duration_min',
 'exposure_duration_max_op',
 'exposure_duration_max',
 'exposure_duration_unit',
 'exposure_duration_comments',
 'study_type',
 'study_type_comments',
 'test_type',
 'test_type_comments',
 'test_location',
 'test_location_comments',
 'test_method',
 'test_method_comments',
 'exposure_type',
 'exposure_type_comments',
 'control_type',
 'control_type_comments',
 'media_type',
 'media_type_comments',
 'num_doses_mean_op',
 'num_doses_mean',
 'num_doses_min_op',
 'num_doses_min',
 'num_doses_max_op',
 'num_doses_max',
 'num_doses_comments',
 'other_effect_comments',
 'application_freq_mean_op',
 'application_freq_mean',
 'application_freq_min_op',
 'application_freq_min',
 'application_freq_max_op',
 'application_freq_max',
 'application_freq_unit',
 'application_freq_comments',
 'application_type',
 'application_type_comments',
 'application_rate',
 'application_rate_unit',
 'application_date',
 'application_date_comments',
 'application_season',
 'application_season_comments',
 'subhabitat',
 'subhabitat_description',
 'substrate',
 'substrate_description',
 'water_depth_mean_op',
 'water_depth_mean',
 'water_depth_min_op',
 'water_depth_min',
 'water_depth_max_op',
 'water_depth_max',
 'water_depth_unit',
 'water_depth_comments',
 'geographic_code',
 'geographic_location',
 'latitude',
 'longitude',
 'halflife_mean_op',
 'halflife_mean',
 'halflife_min_op',
 'halflife_min',
 'halflife_max_op',
 'halflife_max',
 'halflife_unit',
 'halflife_comments',
 'additional_comments',
 'created_date',
 'modified_date',
 'published_date']

In [19]:
list(test['exposure_duration_unit'].unique())

['d',
 'wk',
 'h',
 'mo',
 'yr',
 'ge',
 'mi',
 'el',
 's',
 'brd',
 'em',
 'lf',
 'hv',
 'ma',
 'gs',
 'pgm',
 'stg',
 'bt',
 'fi',
 'fr',
 'lhv20-25',
 'lhv15-20',
 'rhv3',
 'fs',
 'b0.25',
 'ant',
 'BLM',
 'cfs',
 'fb',
 'dpe',
 'ea',
 'gm',
 'ges',
 'wpe',
 'ht',
 'ls',
 'lva',
 'dph',
 'lvp',
 'pro',
 'dpfl',
 'fl',
 'vg',
 'dpn',
 'so',
 'dpgm',
 'ubi',
 'dpp',
 'dpf',
 'brs',
 'cd',
 'ins',
 'pm',
 'sst',
 'dphv',
 'abs',
 'LSI',
 'dpo',
 'hpe',
 'lfd',
 'hph',
 'it',
 'ep',
 'wph',
 'flg',
 'dd',
 nan,
 'hpf',
 'dge',
 'dapu',
 'eslk',
 'NC',
 'go',
 'yc',
 'nf',
 'pa',
 'mmph',
 'wpp',
 'cs',
 'ZGS',
 'moph',
 'gts',
 'crs',
 'lvsa',
 'hpel',
 'mpf',
 'dpel',
 'inst',
 'mph']

In [20]:
test.columns.values

array(['test_id', 'reference_number', 'test_cas', 'test_grade',
       'test_grade_comments', 'test_formulation',
       'test_formulation_comments', 'test_radiolabel',
       'test_radiolabel_comments', 'test_purity_mean_op',
       'test_purity_mean', 'test_purity_min_op', 'test_purity_min',
       'test_purity_max_op', 'test_purity_max', 'test_purity_comments',
       'test_characteristics', 'species_number', 'organism_habitat',
       'organism_source', 'organism_source_comments',
       'organism_lifestage', 'organism_lifestage_comments',
       'organism_age_mean_op', 'organism_age_mean', 'organism_age_min_op',
       'organism_age_min', 'organism_age_max_op', 'organism_age_max',
       'organism_age_unit', 'organism_init_wt_mean_op',
       'organism_init_wt_mean', 'organism_init_wt_min_op',
       'organism_init_wt_min', 'organism_init_wt_max_op',
       'organism_init_wt_max', 'organism_init_wt_unit',
       'organism_characteristics', 'organism_gender',
       'experimental_design', 'study_duration_mean_op',
       'study_duration_mean', 'study_duration_min_op',
       'study_duration_min', 'study_duration_max_op',
       'study_duration_max', 'study_duration_unit',
       'study_duration_comments', 'exposure_duration_mean_op',
       'exposure_duration_mean', 'exposure_duration_min_op',
       'exposure_duration_min', 'exposure_duration_max_op',
       'exposure_duration_max', 'exposure_duration_unit',
       'exposure_duration_comments', 'study_type', 'study_type_comments',
       'test_type', 'test_type_comments', 'test_location',
       'test_location_comments', 'test_method', 'test_method_comments',
       'exposure_type', 'exposure_type_comments', 'control_type',
       'control_type_comments', 'media_type', 'media_type_comments',
       'num_doses_mean_op', 'num_doses_mean', 'num_doses_min_op',
       'num_doses_min', 'num_doses_max_op', 'num_doses_max',
       'num_doses_comments', 'other_effect_comments',
       'application_freq_mean_op', 'application_freq_mean',
       'application_freq_min_op', 'application_freq_min',
       'application_freq_max_op', 'application_freq_max',
       'application_freq_unit', 'application_freq_comments',
       'application_type', 'application_type_comments',
       'application_rate', 'application_rate_unit', 'application_date',
       'application_date_comments', 'application_season',
       'application_season_comments', 'subhabitat',
       'subhabitat_description', 'substrate', 'substrate_description',
       'water_depth_mean_op', 'water_depth_mean', 'water_depth_min_op',
       'water_depth_min', 'water_depth_max_op', 'water_depth_max',
       'water_depth_unit', 'water_depth_comments', 'geographic_code',
       'geographic_location', 'latitude', 'longitude', 'halflife_mean_op',
       'halflife_mean', 'halflife_min_op', 'halflife_min',
       'halflife_max_op', 'halflife_max', 'halflife_unit',
       'halflife_comments', 'additional_comments', 'created_date',
       'modified_date', 'published_date'], dtype=object)

In [21]:
len(test.species_number.unique())

12906

In [22]:
results = pd.read_csv('ecotox_ascii_09_12_2019/results.txt',sep='\|', engine='python')
results.head()

,result_id,test_id,sample_size_mean_op,sample_size_mean,sample_size_min_op,sample_size_min,sample_size_max_op,sample_size_max,sample_size_unit,sample_size_comments,...,dry_wet_pct_min,dry_wet_pct_max_op,dry_wet_pct_max,dry_wet_pct_comments,steady_state,additional_comments,companion_tag,created_date,modified_date,old_terretox_result_number
0,61358,1108761,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,01/31/1985,02/21/1995,NaN
1,136246,1165989,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,04/19/1996,NaN,NaN
2,223703,1097736,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,10/02/2003,NaN,NaN
3,151106,1187635,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,10/10/1997,NaN,NaN
4,53559,1012894,NaN,NC,NaN,NC,NaN,NC,NC,NaN,...,NC,NaN,NC,NaN,NC,,NaN,11/21/1995,NaN,NaN

In [23]:
list(results.columns)

['result_id',
 'test_id',
 'sample_size_mean_op',
 'sample_size_mean',
 'sample_size_min_op',
 'sample_size_min',
 'sample_size_max_op',
 'sample_size_max',
 'sample_size_unit',
 'sample_size_comments',
 'obs_duration_mean_op',
 'obs_duration_mean',
 'obs_duration_min_op',
 'obs_duration_min',
 'obs_duration_max_op',
 'obs_duration_max',
 'obs_duration_unit',
 'obs_duration_comments',
 'endpoint',
 'endpoint_comments',
 'trend',
 'effect',
 'effect_comments',
 'measurement',
 'measurement_comments',
 'response_site',
 'response_site_comments',
 'effect_pct_mean_op',
 'effect_pct_mean',
 'effect_pct_min_op',
 'effect_pct_min',
 'effect_pct_max_op',
 'effect_pct_max',
 'effect_pct_comments',
 'conc1_type',
 'ion1',
 'conc1_mean_op',
 'conc1_mean',
 'conc1_min_op',
 'conc1_min',
 'conc1_max_op',
 'conc1_max',
 'conc1_unit',
 'conc1_comments',
 'conc2_type',
 'ion2',
 'conc2_mean_op',
 'conc2_mean',
 'conc2_min_op',
 'conc2_min',
 'conc2_max_op',
 'conc2_max',
 'conc2_unit',
 'conc2_comments',
 'conc3_type',
 'ion3',
 'conc3_mean_op',
 'conc3_mean',
 'conc3_min_op',
 'conc3_min',
 'conc3_max_op',
 'conc3_max',
 'conc3_unit',
 'conc3_comments',
 'bcf1_mean_op',
 'bcf1_mean',
 'bcf1_min_op',
 'bcf1_min',
 'bcf1_max_op',
 'bcf1_max',
 'bcf1_unit',
 'bcf1_comments',
 'bcf2_mean_op',
 'bcf2_mean',
 'bcf2_min_op',
 'bcf2_min',
 'bcf2_max_op',
 'bcf2_max',
 'bcf2_unit',
 'bcf2_comments',
 'bcf3_mean_op',
 'bcf3_mean',
 'bcf3_min_op',
 'bcf3_min',
 'bcf3_max_op',
 'bcf3_max',
 'bcf3_unit',
 'bcf3_comments',
 'significance_code',
 'significance_type',
 'significance_level_mean_op',
 'significance_level_mean',
 'significance_level_min_op',
 'significance_level_min',
 'significance_level_max_op',
 'significance_level_max',
 'significance_comments',
 'chem_analysis_method',
 'chem_analysis_method_comments',
 'endpoint_assigned',
 'organism_final_wt_mean_op',
 'organism_final_wt_mean',
 'organism_final_wt_min_op',
 'organism_final_wt_min',
 'organism_final_wt_max_op',
 'organism_final_wt_max',
 'organism_final_wt_unit',
 'organism_final_wt_comments',
 'intake_rate_mean_op',
 'intake_rate_mean',
 'intake_rate_min_op',
 'intake_rate_min',
 'intake_rate_max_op',
 'intake_rate_max',
 'intake_rate_unit',
 'intake_rate_comments',
 'lipid_pct_mean_op',
 'lipid_pct_mean',
 'lipid_pct_min_op',
 'lipid_pct_min',
 'lipid_pct_max_op',
 'lipid_pct_max',
 'lipid_pct_comments',
 'dry_wet',
 'dry_wet_pct_mean_op',
 'dry_wet_pct_mean',
 'dry_wet_pct_min_op',
 'dry_wet_pct_min',
 'dry_wet_pct_max_op',
 'dry_wet_pct_max',
 'dry_wet_pct_comments',
 'steady_state',
 'additional_comments',
 'companion_tag',
 'created_date',
 'modified_date',
 'old_terretox_result_number']

In [24]:
species = pd.read_csv('ecotox_ascii_09_12_2019/species.txt',sep='\|', engine='python')
species.head()

,species_number,common_name,latin_name,kingdom,phylum_division,subphylum_div,superclass,class,tax_order,family,genus,species,subspecies,variety,ecotox_group
0,1,Fathead Minnow,Pimephales promelas,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Cypriniformes,Cyprinidae,Pimephales,promelas,NaN,NaN,"Fish,Standard Test Species"
1,2,Bluegill,Lepomis macrochirus,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Perciformes,Centrarchidae,Lepomis,macrochirus,NaN,NaN,"Fish,Standard Test Species"
2,3,Brook Trout,Salvelinus fontinalis,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Salmoniformes,Salmonidae,Salvelinus,fontinalis,NaN,NaN,"Fish,Standard Test Species"
3,4,Rainbow Trout,Oncorhynchus mykiss,Animalia,Chordata,Vertebrata,Osteichthyes,Actinopterygii,Salmoniformes,Salmonidae,Oncorhynchus,mykiss,NaN,NaN,"Fish,Standard Test Species,U.S. Exotic/Nuisanc..."
4,5,Water Flea,Daphnia magna,Animalia,Arthropoda,Crustacea,NaN,Branchiopoda,Diplostraca,Daphniidae,Daphnia,magna,NaN,NaN,"Crustaceans,Standard Test Species"

In [25]:
chemicals = pd.read_csv('ecotox_ascii_09_12_2019/chemicals.txt',sep='\|', engine='python')
chemicals.head()

,cas_number,chemical_name,ecotox_group
0,50000,Formaldehyde,NaN
1,50011,Guanidine monohydrochloride,NaN
2,50022,"11beta,16alpha-9-Fluoro-11,17,21-Trihydroxy-16...",Pharmaceutical Personal Care Products (PPCPs)
3,50033,"(11beta)-21-Acetyloxy)-11,17-dihydroxypregn-4-...",NaN
4,50044,"21-(Acetyloxy)-17-hydroxypregn-4-ene-3,11,20-t...",NaN

## Looking for null values, outliers and strange units

### CAS : Foreign key to CHEMICALS

In [26]:
# essendo un'indidice non mi apsetto null values.
sum(test['test_cas'].isnull())

0

In [27]:
#non ha senso, ovvimemte parlare di outiliers
#questo discorso lo possiamo nell'ECOTOX_GROUP dopo quando andiamo a vedere le caratteristiche del CAS

### ORGANISM

In [28]:
l = list(test.columns)
result = [i for i in l if i.startswith('organism')]

In [29]:
result

['organism_habitat',
 'organism_source',
 'organism_source_comments',
 'organism_lifestage',
 'organism_lifestage_comments',
 'organism_age_mean_op',
 'organism_age_mean',
 'organism_age_min_op',
 'organism_age_min',
 'organism_age_max_op',
 'organism_age_max',
 'organism_age_unit',
 'organism_init_wt_mean_op',
 'organism_init_wt_mean',
 'organism_init_wt_min_op',
 'organism_init_wt_min',
 'organism_init_wt_max_op',
 'organism_init_wt_max',
 'organism_init_wt_unit',
 'organism_characteristics',
 'organism_gender']

In [30]:
# cerchiamo di fare un bell riassunto

In [31]:
df  = pd.DataFrame (index = result, columns = ['null_values', '#outputs'])

In [32]:
for i in result:
    df['null_values'][i] = sum(test[i].isnull())
    df['#outputs'][i] = len(test[i].unique())

In [33]:
df

                            null_values #outputs
organism_habitat                      0        3
organism_source                       0       12
organism_source_comments         635660     4784
organism_lifestage                    0      132
organism_lifestage_comments      662516      362
organism_age_mean_op             632947        6
organism_age_mean                    72      374
organism_age_min_op              664454        5
organism_age_min                     17      146
organism_age_max_op              664798        6
organism_age_max                     17      174
organism_age_unit                     7       97
organism_init_wt_mean_op         664874        6
organism_init_wt_mean                 1     1498
organism_init_wt_min_op          665169        3
organism_init_wt_min                  1      483
organism_init_wt_max_op          665168        4
organism_init_wt_max                  1      538
organism_init_wt_unit                 0        8
organism_characteristics           1626    57752
organism_gender                       1        6

In [34]:
# df = test[result]
# corr = df.corr()
# corr.style.background_gradient(cmap='coolwarm')

sarebbe bello guardare a correlazione tra le due cose, ma bisogna prima trasformare i valori

### EXPOSURE

In [35]:
result = [i for i in l if i.startswith('exposure')]

In [36]:
result

['exposure_duration_mean_op',
 'exposure_duration_mean',
 'exposure_duration_min_op',
 'exposure_duration_min',
 'exposure_duration_max_op',
 'exposure_duration_max',
 'exposure_duration_unit',
 'exposure_duration_comments',
 'exposure_type',
 'exposure_type_comments']

In [37]:
df1  = pd.DataFrame (index = result, columns = ['null_values_%', '#outputs'])
for i in result:
    df1['null_values_%'][i] = sum(test[i].isnull())/len(test)*100
    df1['#outputs'][i] = len(test[i].unique())

In [38]:
df1

                           null_values_% #outputs
exposure_duration_mean_op        96.8608        6
exposure_duration_mean            4.8771     2308
exposure_duration_min_op          99.784        6
exposure_duration_min           0.504636      740
exposure_duration_max_op         99.8088        6
exposure_duration_max           0.504486      785
exposure_duration_unit        0.00556197       89
exposure_duration_comments       99.7768      202
exposure_type                          0      142
exposure_type_comments            99.572      180

In [39]:
test[result].head()

,exposure_duration_mean_op,exposure_duration_mean,exposure_duration_min_op,exposure_duration_min,exposure_duration_max_op,exposure_duration_max,exposure_duration_unit,exposure_duration_comments,exposure_type,exposure_type_comments
0,NaN,15,NaN,NR,NaN,NR,d,NaN,OR,NaN
1,NaN,4,NaN,NR,NaN,NR,d,NaN,OR,NaN
2,NaN,4,NaN,NR,NaN,NR,wk,NaN,OR,NaN
3,NaN,7,NaN,NR,NaN,NR,d,NaN,OR,NaN
4,NaN,7,NaN,NR,NaN,NR,d,NaN,OR,NaN

### EFFECT

In [40]:
l = list(results.columns)
result = [i for i in l if i.startswith('effect')]

In [41]:
df2  = pd.DataFrame (index = result, columns = ['null_values_%', '#outputs'])
for i in result:
    df2['null_values_%'][i] = sum(results[i].isnull())/len(results)*100
    df2['#outputs'][i] = len(results[i].unique())

In [42]:
df2

                    null_values_% #outputs
effect                          0       84
effect_comments           96.8456        6
effect_pct_mean_op        99.4181        6
effect_pct_mean          0.181917     6762
effect_pct_min_op         98.5831        6
effect_pct_min           0.181917     1341
effect_pct_max_op         98.5713        6
effect_pct_max           0.181917     1583
effect_pct_comments       97.3171      278

### CONC

In [43]:
result = [i for i in l if i.startswith('conc')]
df3  = pd.DataFrame (index = result, columns = ['null_values_%', '#outputs'])
for i in result:
    df3['null_values_%'][i] = sum(results[i].isnull())/len(results)*100
    df3['#outputs'][i] = len(results[i].unique())

In [44]:
df3

               null_values_% #outputs
conc1_type        0.00178453       10
conc1_mean_op        95.8179        6
conc1_mean        0.00304419    34410
conc1_min_op         98.7769        6
conc1_min         0.00398894    19671
conc1_max_op         98.9549        6
conc1_max         0.00482872    24163
conc1_unit        0.00178453     1229
conc1_comments       80.1853     2058
conc2_type           99.2761        8
conc2_mean_op         99.988        5
conc2_mean           99.2761     1792
conc2_min_op         99.9819        5
conc2_min            99.2761     1084
conc2_max_op         99.9854        3
conc2_max            99.2761     1180
conc2_unit           99.2761       59
conc2_comments       99.9286       25
conc3_type           99.9447        4
conc3_mean_op            100        1
conc3_mean           99.9447       72
conc3_min_op             100        1
conc3_min            99.9447       39
conc3_max_op             100        1
conc3_max            99.9447       46
conc3_unit           99.9447       12
conc3_comments       99.9996        3

In [46]:
result = [i for i in l if i.startswith('endpoint')]
df4  = pd.DataFrame (index = result, columns = ['null_values_%', '#outputs'])
for i in result:
    df4['null_values_%'][i] = sum(results[i].isnull())/len(results)*100
    df4['#outputs'][i] = len(results[i].unique())

In [47]:
df4

                  null_values_% #outputs
endpoint                      0      298
endpoint_comments       98.7146      310
endpoint_assigned   0.000314916        5